    * {
        padding: 0;
        margin: 0;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    }
    
    .navbar {
        display: flex;
        z-index: 1;
        height: 10vh;
        width: 100vw;
        background-color: white;
        position: fixed;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        color: #484848;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    }
    
    .search-bar {
        display: flex;
        height: 20vh;
        width: 100vw;
        background-color: white;
        position: fixed;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        color: #484848;
    }
    
    .fa-airbnb {
        color: rgb(255, 90, 95);
        font-size: 2em;
    }
    
    .lugares {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        width: 100vw;
        height: 50vh;
        align-items: center;
        justify-content: center;
    }
    
    #airbnb {
        width: 80vw;
        height: 40vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #airbnb>div {
        font-size: 16px;
        width: 25vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1 0 40vw;
        align-items: flex-start;
    }
    
    #airbnb>div>p {
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        font-size: 100%;
        max-width: 40vw;
        display: flex;
        flex-wrap: wrap;
    }
    
    #airbnb>div>img {
        height: 50vh;
        width: 30vw;
    }
    
    @media (max-width: 400px) {
        #airbnb>div>img {
            height: auto;
            width: 30vw;
        }
    }